/.rspec
*.tmproj
*.DS_Store
.bundle
db/*.sqlite3
db/.DS_Store
log/*.log
tmp/**/*
*~
.#*
#*
*#
tmtags
config/database.yml
/coverage
/tmp
/public/uploads
.autotest
db/schema.rb
features_report.html
coverage.data