#home
  .span-22.append-1.prepend-1.prepend-top
    .search-form
      %label{:for => 'search-mem-txt'} Search for Text to Memorize
      %input{:type => :text, :id => 'search-mem-txt'}
      %button{:id => :go, 'data-url' => new_memory_search_url} Go
    .clear
  .search-results-wrapper.span-22.append-1.prepend-1.prepend-top
    .search-results.span-22