- content_for :title do
  Sticky Memory - a first letter memorizaion tool
#home
  .span-24.prepend-top.last
    .search-form.span-22.last.prepend-1.append-1
      %label{:for => 'search-mem-txt', :class => 'span-22 last'} Search for Text to Memorize
      %input{:type => :text, :id => 'search-mem-txt', :class => 'span-19'}
      %button{:id => :go, 'data-url' => new_memory_search_url, :class => 'span-2 last'} Go
      .span-22.search-type
        %input{:type => :radio, :id => :esv, :name => 'search-category', :value => :esv, :checked => :checked}== ESV Bible
        %input{:type => :radio, :id => :shorter, :name => 'search-category', :value => :shorter}== Westminster Shorter Catechism
    .clear
  .search-results.span-22.last.prepend-1.append-1.prepend-top
    .header
    .text